* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.tudo {
    background-color: #d8e5e8;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.menulateral {
    background-color: #195e63;
    padding: 0vh 2vh;
    width: 15vw;
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.menulateral ul {
    width: 100%;
    margin-right: 15vh;
    margin-left: 0vh;
    font-size: 2.5vh;
}

.menulateral ul li {
    text-decoration: none;
    list-style: none;
    margin: 1vh;
    color: black;
    width: 15vh;
}

.menulateral ul li  i {
    margin-right: 2vh;
}

.menulateral ul li a {
    text-decoration: none;
    color: black;
    width: 15vh;
    display: flex;
    margin-left: 0vh;
}

.menulateral ul li:hover {
    color: white;
}

.menulateral ul li:hover a {
    color: white;
}

.menulateral ul {
    padding-inline-start: 0%;
}

.menulateral li{
    display: flex;
    flex-direction: row;
}

.menulateral img{
    border-radius: 50vh;
}

.logo{
    background-color: #ffffff;
    border-radius: 1vh;
    width: 4.7vh;
    height: 5.1vh;
    margin-bottom: 5vh;
    margin-top: 2vh;
}

.logo img{
    height: 5.4vh;
}

ul{
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hello {
    padding: 1vh;
    text-align: center;
    margin-bottom: 5vh;
}

.hello img{
    height: 20vh;
    width: 20vh;
}

.hello h2{
    font-size: 4vh;
}

.resto{
    height: 100vh;
    width: 100vw;
    background-color: #d8e5e8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adicionar{
    background-color: #FEFEFE;
    height: 80vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cadastro{
    width: 24vw;
    height: 6vh;
    background-color: #195e63;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: .5vh;
}

.div_form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#form_postagem {
    display: flex;
    flex-direction: column;
}

#form_postagem h4{
    margin-top: 2.5vh;
}

button{
    margin-top: 3vh;
    height: 5vh;
    width: 10vw;
    background-color: #195e63;
    border: none;
    box-shadow: 0 9px #999;
}

button:hover{
    background-color: #47949a;
}

button:active {
    transform: scale(0.85);
    box-shadow: 0 5px #666;
    
}

select{
    width: 30.5vw;
    height: 4.5vh;
}

input{
    width: 30vw;
    height: 3.5vh;
}

.senha{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
    height: 8vh;
    width: 27vw;
    background-color: #195e63;
    color: white;
    border-radius: .5vh;
    padding: 3vh 3vh;
}
.display-none {
    display: none;
}