* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.tudo {
    background-color: #d8e5e8;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
}

.menulateral {
    background-color: #195e63;
    padding: 0vh 2vh;
    width: 15vw;
    height: 95vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.menulateral ul {
    width: 100%;
    margin-right: 15vh;
    margin-left: 0vh;
    font-size: 2.5vh;
}

.menulateral ul li {
    text-decoration: none;
    list-style: none;
    margin: 1vh;
    color: black;
    width: 15vh;
}

.menulateral ul li a {
    text-decoration: none;
    color: black;
    width: 15vh;
    display: flex;
    margin-left: 0vh;
}

.menulateral ul li:hover {
    color: white;
}

.menulateral ul li:hover a {
    color: white;
}

.menulateral ul {
    padding-inline-start: 0%;
}

.menulateral li{
    display: flex;
    flex-direction: row;
}

.menulateral img{
    border-radius: 50vh;
}

.logo{
    background-color: #ffffff;
    border-radius: 1vh;
    width: 4.7vh;
    height: 5.1vh;
    margin-bottom: 5vh;
    margin-top: 2vh;
}

.logo img{
    height: 5.4vh;
}

ul{
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hello {
    padding: 1vh;
    text-align: center;
    margin-bottom: 5vh;
}

.hello img{
    height: 20vh;
    width: 20vh;
}

.hello h2{
    font-size: 4vh;
}

.editar{
    height: 95vh;
    width: 70vw;
    background-color: purple;
    display: flex;
    flex-direction: column;
}

.editar input{
    width: 15vw;
}

.editar button{
    width: 7vw;
    margin-top: 1vh;
}