@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: all 0.7s;
    font-family: 'Ubuntu';
    overflow-x: hidden;

}

body {
    background-color: #303030;
    scroll-behavior: smooth;
}

.tema {
    display: none;
}

.meio {
    display: none;
}

.nav-mobile {
    display: none;
}

.nav-desktop {
    width: 100%;
    height: 10vh;
    display: flex;
    position: absolute;
    top: 0;
    background-color: #195e63;
    align-items: center;
    border-bottom: 2px solid #ece1c3;
    z-index: 1000000000;
    overflow-y: hidden;
    transition: all 2s;
}

.nav-desktop a {
    width: fit-content;
    text-decoration: none;
    color: #ece1c3;
    font: bold;
    font-size: 17px;
    margin: 0 0 0 12px;
    transition: all 0.1s;
}

.nav-desktop a img {
    width: fit-content;
    height: 6vh;
}

.nav-desktop a:hover {
    color: #303030;
}


.nav-desktop .container {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
    font-family: 'ubuntu';

}

.nav-desktop .container ul {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    right: 0;
}

.nav-desktop .container ul li {
    list-style: none;
    overflow-y: hidden;
}

.nav-desktop .container ul li a {
    text-decoration: none;
    color: #ece1c3;
    font-size: 22px;
    transition: all 0.6s;

}

.nav-desktop .container ul li a:hover {
    color: #303030;
}

#section-one-ref {
    width: 100%;
    height: 100vh;
    display: flex;
    color: #303030;
    background-image: url("../assets/imgfundo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#section-one-ref .container {
    width: 50%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 300px 0 0 42px;
}

.mascara {
    background-color: #195e63ef;
    width: 50%;
    height: 30vh;
    position: absolute;
    filter: blur(4px);
    border-radius: 10px;
}

.mascara-texto-mobile {
    display: none;
}

#section-one-ref .container .caixa-apresentacao {
    width: 100%;
    height: 30vh;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#section-one-ref .container .caixa-apresentacao h2 {
    width: fit-content;
    color: #ece1c3;
    margin: 8px;
    font-size: 42px;
    padding-left: 6px;
    font-family: "Satisfy";
}

#section-one-ref .container .caixa-apresentacao h2:hover {
    text-shadow: 2px 2px 2px #ece1c3
}

#section-one-ref .container .caixa-apresentacao p {
    color: #ece1c3;
    margin: 4px;
    font-size: 21px;
}

#section-one-ref .container .caixa-apresentacao .a-redirecionar {
    width: 20%;
    height: 20px;
    text-decoration: underline;
    color: whitesmoke;
    font-size: 25px;
    margin-left: 5px;
}

#section-one-ref .container .caixa-apresentacao .a-redirecionar:hover {
    color: #6295e7;
}

#section-two-ref {
    width: 100%;
    height: 80vh;
    display: flex;
    background-color: #3e868c;
}


#section-two-ref .container {
    width: 100%;
    height: 60vh;
    display: flex;
    margin: 100px 0 0 12px;
}

.mascara2 {
    width: 50%;
    height: 30vh;
    display: flex;
    position: absolute;
    filter: blur(4px);
    border-radius: 10px;
}

#section-two-ref .container .caixa-apresentacao {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

#section-two-ref .container .caixa-apresentacao h2 {
    color: #ece1c3;
    margin: 6px;
    font-size: 42px;
    padding-left: 6px;
    font-family: "Satisfy";
}

#section-two-ref .container .caixa-apresentacao p {
    color: #ece1c3;
    margin: 2px;
    font-size: 21px;
}

#section-two-ref .container .div_img {
    width: 60%;
    height: 40vh;
    display: flex;
    justify-content: center;
    margin: 0 70px;
    border-radius: 22px;

}

#section-two-ref .container .div_img .img_section_two {
    width: 100%;
    height: 40vh;
}

#section-two-ref .container .caixa-apresentacao .a-redirecionar {
    width: 20%;
    height: 20px;
    text-decoration: underline;
    color: whitesmoke;
    font-size: 25px;
    margin-left: 5px;
}

#section-two-ref .container .caixa-apresentacao .a-redirecionar:hover {
    color: #6295e7;
}

/* Footer */
.footer {
    width: 100%;
    height: 25vh;
    background-color: #063940;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid #dac58e;
    bottom: 0;
}

.footer .links-1 {
    width: 20%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    margin-left: 6px;

}

.footer .links-1 h2,
.links-2 h2 {
    width: fit-content;
    color: #dac58e;
    font-family: 'Satisfy';
    font-size: 30px;
    padding-left: 2px;
}

.footer .links-2 {
    width: 20%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    margin-left: 6px;
}

.footer .links-1 a,
.footer .links-2 a {
    width: fit-content;
    color: #40e0d0;
}