@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d8e5e8;
}

.mobile {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    position: fixed;
    top: 91vh;
    z-index: 40;
    transition: all 900ms;
}


.mobile .esquerda,
.mobile .direita {
    width: 40%;
    height: 9vh;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mobile .esquerda span,
.mobile .direita span {
    font-size: 6vw;
    cursor: pointer;
}

.mobile .esquerda {
    top: 130vh;
    left: 0;
    transition: all 300ms;
}

.mobile .direita {
    top: 180vh;
    right: 0;
    transition: all 300ms;
}

.mobile .meio {
    width: 20%;
    height: 9vh;
    background-color: #195e63;
    border-radius: 30px 30px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile .meio span {
    font-size: 8vw;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    body {
        height: 100vh;
        background-color: #d8e5e8;
    }

    .mobile {
        display: flex;
    }

    .container0 {
        font-family: 'Roboto', sans-serif;
        display: flex;
        margin-left: 2vh;
        margin-top: 5vh;
        background-color: #d8e5e8;
    }

    .container0 .img_logo {
        height: 40px;
    }

    .container1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #d8e5e8;
    }

    .container1 h1 {
        margin-bottom: 0px;
        font-family: 'Roboto', sans-serif;
    }

    .container1 h2 {
        font-family: 'IBM Plex Sans', sans-serif;
        color: gray;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .container2 {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .form-label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="password"] {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        max-width: 300px;
    }

    input[type="text"]::placeholder,
    input[type="password"]::placeholder {
        color: #aaa;
    }



    .container2 button {
        height: 35px;
        width: 300px;
        border-radius: 15px;
        background-color: #195e63;
        color: white;
        border: none;
        cursor: pointer;
    }

    .caixa {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tudo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 14vh;
        background-color: #d8e5e8;
    }
}

@media only screen and (min-width: 700px) {
    body {
        height: 90vh;
        background-color: #d8e5e8;
    }

    .container0 {
        display: flex;
        align-items: flex-start;
        margin-left: 10vh;
        margin-top: 5vh;
        font-family: 'Roboto', sans-serif;
        background-color: #d8e5e8;
    }

    .container0 img {
        height: 5vh;

    }

    .container1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container1 h1 {
        margin-bottom: 0vh;
        font-family: 'Roboto', sans-serif;
        font-size: 5vh;
    }

    .container1 h2 {
        font-family: 'IBM Plex Sans', sans-serif;
        color: #f5f5f5;
        margin-top: 2vh;
        margin-bottom: 4vh;
        font-size: 3.7vh;
    }

    .container2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .container2 .form-label {
        align-items: flex-start;
    }

    .container2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .container2 p {
        font-family: 'IBM Plex Sans', sans-serif;
        color: white;
        margin-top: 2vh;
        font-size: 2vh;
    }

    .container2 input {
        margin-bottom: 3vh;
        height: 4.6vh;
        width: 46vh;
        border: none;
        border-top: none;
        background-color: #7ce4f668;
        font-size: 2.5vh
    }

    .container2 ::placeholder {
        font-size: 2.5vh;
        color: rgb(205, 212, 211);
    }

    .container2 h4 {
        display: flex;
        align-items: flex-start;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 2.5vh;
    }

    .container2 button {
        height: 4.6vh;
        width: 46vh;
        border-radius: 2vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
        font-size: 2.5vh;
        background-color: white;
        color: black;
        border: none;
        cursor: pointer;
    }

    #jaConta {
        color: #ffffff;
    }

    .caixa0 {
        display: flex;
        align-items: center;
        height: 77vh;
        width: 62vh;
        background-color: #0cbfdf44;
    }

    .caixa0 img {
        height: 62vh;
        width: 62vh;
    }

    .caixa {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 77vh;
        width: 62vh;
        background-color: #195e63;
    }

    .caixa p {
        color: white;
        font-family: 'IBM Plex Sans', sans-serif;
    }

    .tudo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0vh;
        background-color: #d8e5e8;
    }

    .container3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*máscaras*/
    .input-field {
        display: grid;
        grid-template-columns: 1fr;

        position: relative;
    }

    .input-field i {
        color: #b499ff;
        position: absolute;
        margin-right: 1rem;
        right: 0;
        align-self: center;
    }
}