@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');
/* 'Ubuntu' */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/* 'Satisfy' */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: all 0.7s;
    font-family: 'Ubuntu';
}

body {
    background-color: #303030;
    /* height: 10000px; */
    scroll-behavior: smooth;
margin: 0px;
}

.tema {
    display: none;
}

.meio {
    display: none;
}

nav {
    display: none;
}





.nav-desktop {
    width: 100%;
    height: 100px;
    display: flex;
    top: 0;
    background-color: #ece1c3;
    align-items: center;
}


.nav-desktop .container{
    display: flex;
    width: 90%;
    justify-content: flex-end;
    align-items: center;
    font-family: 'ubuntu';
    
}

li a{
    text-decoration: none;
    list-style: none;
    color: #195e63;

}



#section-one-ref {
    width: 100%;
    height: 100vh;
    display: flex;
   /*background-color: #303030; */
    /* border: 1px solid red; */
    color: #303030;
    background-image: url("../assets/imgfundo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

#section-one-ref .container {
    width: 50%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 300px 0 0 3px;

    /* border: 2px solid purple; */
}

#section-one-ref .container .caixa-apresentacao {
    width: 100%;
    height: 120px;
    align-items: center;
    justify-content: center;
    /* border: 2px solid yellow; */

}


#section-one-ref .container .caixa-apresentacao .img_section_two{
    width: 100px    ;
   

}

#section-one-ref .container .caixa-apresentacao h2 {
    color: #ece1c3;
    margin: 8px;
    /* font-family: 'Ubuntu'; */
}

#section-one-ref .container .caixa-apresentacao p {
    color: white;
    margin: 4px;
    font-size: 17px;
}

#section-one-ref .container .caixa-apresentacao .a-redirecionar {
    width: 20%;
    height: 20px;
    text-decoration: none;
    color: #6295e7;
    /* background-color: #ece1c3; */
    /* border-bottom: 1px solid #8ebdb6; */
    border-radius: 7px;
    margin-left: 5px;
}

#section-two-ref {
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #8ebdb6;
}


#section-two-ref .container {
    width: 50%;
    height: 140px;
    align-items: center;
    justify-content: center;
    margin: 700px 0 0 3px;

    /* border: 2px solid purple; */
}

#section-two-ref .container .caixa-apresentacao {
    width: 100%;
    height: 130px;
    align-items: center;
    justify-content: center;
    /* border: 2px solid yellow; */

}

#section-two-ref .container .caixa-apresentacao h2 {
    color: #ece1c3;
    margin: 6px;
    /* font-family: 'Ubuntu'; */
}

#section-two-ref .container .caixa-apresentacao p {
    color: white;
    margin: 2px;
    font-size: 17px;
}

.div_img{
    width: 10%;
}

#section-two-ref .container .caixa-apresentacao .a-redirecionar {
    width: 20%;
    height: 20px;
    text-decoration: none;
    color: #6295e7;
    /* background-color: #ece1c3; */
    /* border-bottom: 1px solid #8ebdb6; */
    /* margin-left: 2px; */
}

















/* Footer */

.footer {
    /* font-family: ; */
    bottom: 0px;
    width: 100%;
    height: 150px;
    background-color: #ece1c3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #195e63;
    /* box-shadow: 2px 2px 2px 2px #8AB4F8; */
}

.footer .links-1 {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 6px;

}

.footer .links-1 h2 {
    font-family: 'Satisfy';
}

.footer .links-2 {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
}

.footer .links-3 {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 6px;
}

.footer .links-3 h2 {
    font-family: 'Satisfy';
}

@media only screen and (max-width: 600px) {
    .tema {
        width: 8%;
        height: 30px;
        cursor: pointer;
        display: flex;
        margin: 13px 0 0 515px;
        position: static;
        z-index: 10000000;
    }
   

    .tema #icon-tema {
        width: 100%;
        height: 35px;
    }

    nav {
        width: 100%;
        height: 7vh;
        background-color: #ece1c3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: -90%;
        transition: all 0.3s;
    }

    nav .esquerda,
    nav .direita {
        width: 40%;
        height: 7vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;

    }

    nav .esquerda {
        bottom: -130%;
        border-radius: 10px 0 0 0;

    }

    nav .direita {
        bottom: -70%;
    }

    .meio {
        width: 20%;
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ece1c3;
        border-radius: 10px 10px 0 0;
        transition: all 1s;
        position: fixed;
        bottom: 0;
        left: 40%;
        z-index: 20;
    }


    nav span {
        font-size: 8vw !important;
        color: #303030;
        cursor: pointer;
    }

    .meio span {
        font-size: 8vw !important;
        color: #303030;
        cursor: pointer;
    }


    /* COMENTA AS COISAS */

    nav .links {
        display: none;
    }

    nav .cadastro-login {
        display: none;
    }

    #section-one-ref {
        width: 100%;
        height: 700px;
        display: block;
        /* background-color: #303030; */
        /* border: 1px solid red; */
        color: #303030;
    }

    #section-one-ref .container {
        width: 50%;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 300px 0 0 3px;

        /* border: 2px solid purple; */
    }

    #section-one-ref .container .caixa-apresentacao {
        width: 100%;
        height: 120px;
        align-items: center;
        justify-content: center;
        /* border: 2px solid yellow; */

    }

    #section-one-ref .container .caixa-apresentacao h2 {
        color: #ece1c3;
        margin: 8px;
        /* font-family: 'Ubuntu'; */
    }

    #section-one-ref .container .caixa-apresentacao p {
        color: white;
        margin: 4px;
        font-size: 17px;
    }

    #section-one-ref .container .caixa-apresentacao .a-redirecionar {
        width: 20%;
        height: 20px;
        text-decoration: none;
        color: #6295e7;
        /* background-color: #ece1c3; */
        /* border-bottom: 1px solid #8ebdb6; */
        border-radius: 7px;
        margin-left: 5px;
    }

    #section-two-ref {
        width: 100%;
        height: 700px;
        display: block;
    }

    #section-two-ref .container {
        width: 50%;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 700px 0 0 3px;

        /* border: 2px solid purple; */
    }

    #section-two-ref .container .caixa-apresentacao {
        width: 100%;
        height: 130px;
        align-items: center;
        justify-content: center;
        /* border: 2px solid yellow; */

    }

    #section-two-ref .container .caixa-apresentacao h2 {
        color: #ece1c3;
        margin: 6px;
        /* font-family: 'Ubuntu'; */
    }

    #section-two-ref .container .caixa-apresentacao p {
        color: white;
        margin: 2px;
        font-size: 17px;
    }

    #section-two-ref .container .caixa-apresentacao .a-redirecionar {
        width: 20%;
        height: 20px;
        text-decoration: none;
        color: #6295e7;
        /* background-color: #ece1c3; */
        /* border-bottom: 1px solid #8ebdb6; */
        /* margin-left: 2px; */
    }

    .footer {
        display: none;
    }
 .nav-desktop{
    display: none;
 }

}


/* 
    cores:
    bege: #ece1c3;
    azul-clarinho: #8ebdb6;
    azul-medio: #3e868c
    azul-não-tão-escuro: #195e63
    azul-escuro: #063940
    links: #8AB4F8
*/