@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');
/* 'Ubuntu' */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/* 'Satisfy' */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: all 0.7s;
    font-family: 'Ubuntu';
    overflow-x: hidden;

}

body {
    background-color: #303030;
    /* height: 10000px; */
    scroll-behavior: smooth;
}

.tema {
    display: none;
}

.meio {
    display: none;
}

.nav-mobile {
    display: none;
}




/* nav {
    position: fixed !important;
    top: 0 !important;
} */

.nav-desktop {
    width: 100%;
    height: 10vh;
    display: flex;
    position: absolute;
    top: 0;
    background-color: #195e63;
    align-items: center;
    border-bottom: 2px solid #ece1c3;
    z-index: 1000000000;
    overflow-y: hidden;
}

.nav-desktop a {
    width: fit-content;
    text-decoration: none;
    color: #ece1c3;
    font: bold;
    font-size: 17px;
    margin: 0 0 0 12px;
    transition: all 0.1s;
}

.nav-desktop a img {
    width: fit-content;
    height: 6vh;
}

.nav-desktop a:hover {
    color: #303030;
}


.nav-desktop .container {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
    font-family: 'ubuntu';

}

.nav-desktop .container ul {
    width: 30%;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    justify-content: space-evenly;
    align-items: center;
    right: 0;
}

.nav-desktop .container ul li {
    list-style: none;
    overflow-y: hidden;
}

.nav-desktop .container ul li a {
    text-decoration: none;
    color: #ece1c3;
    font-size: 22px;
    transition: all 0.6s;

}

.nav-desktop .container ul li a:hover {
    color: #303030;
}



#section-one-ref {
    width: 100%;
    height: 100vh;
    display: flex;
    /*background-color: #303030; */
    /* border: 1px solid red; */
    color: #303030;
    background-image: url("../assets/imgfundo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#section-one-ref .container {
    width: 50%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 300px 0 0 42px;


    /* border: 2px solid purple; */
}

.mascara {
    background-color: #195e63ef;
    width: 50%;
    height: 30vh;
    position: absolute;
    filter: blur(4px);
    border-radius: 10px;

}

.mascara-texto-mobile {
    display: none;
}


#section-one-ref .container .caixa-apresentacao {
    width: 100%;
    height: 30vh;
    align-items: center;
    justify-content: center;
    z-index: 1;
    /* border: 2px solid yellow; */

}

#section-one-ref .container .caixa-apresentacao h2 {
    width: fit-content;
    color: #ece1c3;
    margin: 8px;
    font-size: 42px;
    padding-left: 6px;
    font-family: "Satisfy";
    /* -webkit-text-stroke: 1px black; */
    /* -webkit-text-stroke-width: 1px #385555ef; */

}

#section-one-ref .container .caixa-apresentacao h2:hover {
    text-shadow: 2px 2px 2px #ece1c3
}

#section-one-ref .container .caixa-apresentacao p {
    color: #ece1c3;
    margin: 4px;
    font-size: 21px;
}

#section-one-ref .container .caixa-apresentacao .a-redirecionar {
    width: 20%;
    height: 20px;
    text-decoration: underline;
    color: whitesmoke;
    font-size: 25px;
    margin-left: 5px;
}

#section-one-ref .container .caixa-apresentacao .a-redirecionar:hover {
    color: #6295e7;
}

#section-two-ref {
    width: 100%;
    height: 80vh;
    display: flex;
    background-color: #3e868c;
}


#section-two-ref .container {
    width: 100%;
    height: 60vh;
    display: flex;
    margin: 100px 0 0 12px;
    /* border: 2px solid purple; */
}

.mascara2 {
    /* background-color: #195e63; */
    width: 50%;
    height: 30vh;
    display: flex;
    position: absolute;
    filter: blur(4px);
    border-radius: 10px;

}

#section-two-ref .container .caixa-apresentacao {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* border: 2px solid yellow; */
    z-index: 1;
}

#section-two-ref .container .caixa-apresentacao h2 {
    color: #ece1c3;
    margin: 6px;
    font-size: 42px;
    padding-left: 6px;
    font-family: "Satisfy";
    /* -webkit-text-stroke: 2px black;
    -webkit-text-stroke-width: 1px #385555ef; */
}

#section-two-ref .container .caixa-apresentacao p {
    color: #ece1c3;
    margin: 2px;
    font-size: 21px;
}

#section-two-ref .container .div_img {
    width: 60%;
    height: 40vh;
    display: flex;
    justify-content: center;
    margin: 0 70px;
    border-radius: 22px;

}

#section-two-ref .container .div_img .img_section_two {
    width: 100%;
    height: 40vh;
}

#section-two-ref .container .caixa-apresentacao .a-redirecionar {
    width: 20%;
    height: 20px;
    text-decoration: underline;
    color: whitesmoke;
    font-size: 25px;
    margin-left: 5px;
}

#section-two-ref .container .caixa-apresentacao .a-redirecionar:hover {
    color: #6295e7;
}














/* Footer */

.footer {
    /* font-family: ; */
    width: 100%;
    height: 25vh;
    background-color: #063940;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid #dac58e;
    bottom: 0;
    /* box-shadow: 2px 2px 2px 2px #8AB4F8; */
}

.footer .links-1 {
    width: 20%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    margin-left: 6px;

}

.footer .links-1 h2,
.links-2 h2 {
    width: fit-content;
    color: #dac58e;
    font-family: 'Satisfy';
    font-size: 30px;
    padding-left: 2px;
}

.footer .links-2 {
    width: 20%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    margin-left: 6px;
}

.footer .links-1 a,
.footer .links-2 a {
    width: fit-content;
    color: #40e0d0;
}

/* 
.footer .links-3 {
    width: 30%;
    height: 7vh;
    display: flex;
    flex-direction: column;
    margin-left: 6px;
} */




















/* Responsividade */

@media only screen and (max-width: 600px) {



    .tema {
        width: 8%;
        height: 30px;
        cursor: pointer;
        margin: 13px 0 0 515px;
        position: static;
        z-index: 10000000;



        display: none;
    }


    .tema #icon-tema {
        width: 100%;
        height: 35px;
    }

    .nav-mobile {
        width: 100%;
        height: 7vh;
        background-color: #ece1c3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: -90%;
        transition: all 0.3s;
        z-index: 19;
    }

    .nav-mobile .esquerda,
    .nav-mobile .direita {
        width: 40%;
        height: 7vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;

    }

    .nav-mobile span {
        overflow-y: hidden;

    }

    .nav-mobile .esquerda {
        bottom: -130%;
        border-radius: 10px 0 0 0;

    }

    .nav-mobile .direita {
        bottom: -70%;
    }

    .meio {
        width: 20%;
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ece1c3;
        border-radius: 10px 10px 0 0;
        transition: all 1s;
        position: fixed;
        bottom: 0;
        left: 40%;
        z-index: 20;
        cursor: pointer;
    }

    .meio .botao {}


    nav span {
        font-size: 8vw !important;
        color: #303030;
        cursor: pointer;
    }

    .meio span {
        font-size: 8vw !important;
        color: #303030;
        cursor: pointer;
        overflow-y: hidden;
    }


    /* COMENTA AS COISAS */

    nav .links {
        display: none;
    }

    nav .cadastro-login {
        display: none;
    }



    /* Section-one-mobile */

    #section-one-ref {
        width: 100%;
        height: 100vh;
        display: block;
        /* background-color: #303030; */
        color: #303030;
        /* filter: blur(4px); */
        border-bottom: 3px solid #ece1c3;
    }

    #section-one-ref .container {
        width: 50%;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 296.6px 0 0 15px;
    }

    .mascara {
        /* background-color: #fdfbf394; */
        width: 200%;
        height: 100vh;
        background-image: url("../assets/imgfundo.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0;
        filter: blur(5px);

        /* display: none; */
    }

    .mascara-texto-mobile {
        background-color: #195e63ef;
        width: 50%;
        height: 43vh;
        position: absolute;
        filter: blur(4px);
        border-radius: 10px;
        display: flex;
    }

    #section-one-ref .container .caixa-apresentacao {
        width: 100%;
        height: 43vh;
        align-items: center;
        justify-content: center;
        /* border: 2px solid yellow; */
        overflow-y: hidden;

    }

    #section-one-ref .container .caixa-apresentacao h2 {
        color: #ece1c3;
        margin: 8px;
        /* font-family: 'Ubuntu'; */
    }

    #section-one-ref .container .caixa-apresentacao p {
        color: white;
        margin: 12px;
        font-size: 17px;
    }

    #section-one-ref .container .caixa-apresentacao .a-redirecionar {
        width: 20%;
        height: 20px;
        text-decoration: none;
        color: #6295e7;
        /* background-color: #ece1c3; */
        /* border-bottom: 1px solid #8ebdb6; */
        border-radius: 7px;
        margin-left: 10px;
    }








    /* Section-two-mobile */

    #section-two-ref {
        width: 100%;
        height: 80vh;
        display: flex;
        /* background-color: #3e868c; */
    }

    #section-two-ref .container {
        width: 100%;
        height: 80vh;
        display: flex;
        margin: 0 0 0 0;
    }

    .mascara2 {
        width: 100%;
        height: 80vh;
        display: flex;
        background-image: url("../assets/processed-0b5f4765-a9bf-4017-9489-15f4c12dedb1_n5Do7ijK.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0;
        /* filter: none; */
    }

    .mascara-texto-mobile2 {
        background-color: #195e63ef;
        width: 50%;
        height: 40vh;
        position: absolute;
        filter: blur(4px);
        border-radius: 10px;
        display: flex;
        margin: 120px 0 0 15px;
    }

    #section-two-ref .container .caixa-apresentacao {
        width: 50%;
        height: 40vh;
        margin: 120px 0 0 15px;




        /* align-items: center; */
        /* justify-content: center; */
        /* border: 2px solid yellow; */

    }

    #section-two-ref .container .caixa-apresentacao h2 {
        color: #ece1c3;
        margin: 6px;
        /* font-family: 'Ubuntu'; */
    }

    #section-two-ref .container .caixa-apresentacao p {
        color: white;
        margin: 12px;
        font-size: 22px;
    }

    #section-two-ref .container .caixa-apresentacao .a-redirecionar {
        width: 20%;
        height: 20px;
        text-decoration: none;
        color: #6295e7;
        margin: 10px;
        /* background-color: #ece1c3; */
        /* border-bottom: 1px solid #8ebdb6; */
        /* margin-left: 2px; */
    }

    #section-two-ref .container .div_img {
        display: none;
    }

    .footer {
        display: none;
    }

    .nav-desktop {
        display: none;
    }

}


/* 
    cores:
    bege: #ece1c3;
    azul-clarinho: #8ebdb6;
    azul-medio: #3e868c
    azul-não-tão-escuro: #195e63
    azul-escuro: #063940
    links: #8AB4F8
*/