* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.tudo {
    background-color: #d8e5e8;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
}

.menulateral {
    background-color: #195e63;
    padding: 0vh 2vh;
    width: 20vw;
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.menulateral ul {
    width: 100%;
    margin-right: 15vh;
    margin-left: 0vh;
    font-size: 2.5vh;
}

.menulateral ul li {
    text-decoration: none;
    list-style: none;
    margin: 1vh;
    color: #ECE1C3;
    width: 15vh;
}

.menulateral ul li a {
    text-decoration: none;
    color: #ECE1C3;
    width: 15vh;
    display: flex;
    margin-left: 0vh;
}


.menulateral ul li  i {
    margin-right: 2vh;
}

.menulateral ul li:hover {
    color: black;
}

.menulateral ul li:hover a {
    color: black;
}

.menulateral ul {
    padding-inline-start: 0%;
}

.menulateral li{
    display: flex;
    flex-direction: row;
}

.menulateral img{
    border-radius: 50vh;
}

.logo{
    background-color: #ECE1C3;
    border-radius: 1vh;
    width: 4.7vh;
    height: 5.1vh;
    margin-bottom: 5vh;
    margin-top: 2vh;
}

.logo img{
    height: 5.4vh;
    margin-left: .15vw;
}

ul{
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hello {
    padding: 1vh;
    text-align: center;
    margin-bottom: 5vh;
}

.hello img{
    height: 20vh;
    width: 20vh;
}

.hello h2{
    font-size: 4vh;
    color: #ECE1C3;
}

.crud{
    background-color: #d8e5e8;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.caixa{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.adicionar{
    height: 10vh;
    width: 60vw;
    background-color: #FEFEFE;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.adicionar button{
    margin-left: 2vh;
    height: 5vh;
    width: 2.5vw;
    border: none;
    border-radius: .7vh;
    color: white;
    background-color: #5CB85C;
}

.adicionar button:hover{
    background-color: #0a850a;
}

.adicionar button:active{
    transform: scale(0.85);
}

.exibir{
    height: 80vh;
    width: 60vw;
    background-color: #FEFEFE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.exibir h2{
    margin-bottom: 2vh;
    margin-top: 4vh;
}

table {
    width: 60vw;
    height: 80vh;
    border-collapse: collapse;
    border: .2vh solid black;
    display: flex;
    overflow-y: auto; 
    justify-content: center;
    border: none;
}
  
tr {
    border-bottom: .2vh solid black;
}

tbody tr td {
    padding: 6px;
    max-width: 40vw;
    border: .2vh solid black;
}

.deletar{
    background-color: #D83747;
    height: 5vh;
    width: 2.5vw;
    border: none;
    border-radius: .7vh;
    color: white;
}

.deletar:hover{
    background-color: #d11818;
}

.deletar:active{
    transform: scale(0.85);
}

.editar{
    background-color: #007AFF;
    height: 5vh;
    width: 2.5vw;
    border: none;
    border-radius: .7vh;
    color: white;
}

.editar:hover{
    background-color: #0040ff;
}

.editar:active{
    transform: scale(0.85);
}

tr:nth-child(odd) {
    background-color: #e6e6e6;
  }
  
  tr:nth-child(even) {
    background-color: #FFFFFF;
  }
  
  tr:hover {
    background-color: #cdcdcd;
  }
  
  tr td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .oculto {
    display: none;
  }